@{
    ViewBag.Title = "معلومات حول الموقع";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>موقع توظيف يسهل عملية التوظيف عبر الانترنت </p>
<img src="~/images/Jobs-450x253.jpg" />
<br/>
<br />
<br />
