
@{
    ViewBag.Title = "Call_us";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>
    <i class="glyphicon glyphicon-phone"></i>
    اتصل بنا
</h2>
<p">
    <b style="font-size:large">لأرقام الخارجية:</b>+936374145<br />
    <b style="font-size:large">لأرقام الداخلية:</b> +952645857
</p">
<br />
<br />
<img src="~/images/ph.jpg" style="width:1000px;height:500px;"/>

<br />
<br />
<br />
<br />