<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            تسجيل الدخول
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-lock"></i>
            اشتراك
        </a>
    </li>
</ul>
